/* You can override this file with your own styles */

html {
	margin: 1em;
}
code {
	color: #880000;
	font-weight: bold;
}

#navcolumn h5 {
	font-size: 140%;
}

#navcolumn li.none {
	color: #06e;
	font-size: 110%;
}

h2, h3, h4, h5, h6 {
	color: #008080;
	background-color: transparent;
	padding: .5em;
 	border-style: solid;
	border-color: #008080;
	border-width: 0 0 1px 0;
}
h1 {
	color: white;
	background-color: #336699;
	font-size: 200%;
	padding: .5em;
	margin-top: 1em;
}
h2 {
	font-size: 140%;
}
h3 {
	font-size: 120%;
}
#navcolumn h5 {
	color: white;
	background-color: #008080;
	padding: .2em;
	font-size: 130%;
}
#navcolumn {
	padding: 2px;
}
#leftColumn {
	color: #3366aa;
	background-color: #ddeeff;
	margin: 1em 0px 0px 0px;
}
#breadcrumbs {
	background-color: #ddeeff;
	margin-top: 1em;
}
#navcolumn ul {
	padding: 0.5em 0;
}
